<!--The content below is only a placeholder and can be replaced.-->
<h1>Form items</h1>

<div style="margin: auto; text-align: center">
  <input libInput>
  <input libInput type="search">
  <input libInput type="number">
  <input libInput type="url">
  <input libInput type="date">
  <input libInput type="datetime-local">
  <input libInput type="time">
  <input libInput type="week">
  <input libInput type="month">
  <input id="foo" libInput type="range">
  <input libInput type="color">
  <input libInput type="email">
  <input libInput type="file">
</div>
